# Data Engineering & EDA Workshop

This notebook demonstrates cloud database connection, data engineering, EDA, and visualization.

In [ ]:
!pip install psycopg2-binary faker sqlalchemy scikit-learn seaborn

## 1. Data Collection
We use a Neon PostgreSQL database and synthetic data generated with Faker.

In [ ]:

import psycopg2
import pandas as pd
from faker import Faker
import random
from datetime import date

In [ ]:

NEON_DB_URL = "postgresql://neondb_owner:npg_oVLxIZk49eiX@ep-dark-base-aiac0jg1-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
conn = psycopg2.connect(NEON_DB_URL)
cur = conn.cursor()

In [ ]:

cur.execute("""
CREATE TABLE IF NOT EXISTS employees (
    employee_id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(50),
    start_date DATE,
    salary INTEGER
);
""")
conn.commit()

In [ ]:

fake = Faker()
positions = [
    "Software Engineer", "Data Scientist", "DevOps Engineer",
    "Cloud Architect", "Cybersecurity Analyst", "AI Engineer", "Backend Developer"
]

employees = []
for _ in range(50):
    employees.append((
        fake.name(),
        random.choice(positions),
        fake.date_between(start_date='-9y', end_date='today'),
        random.randint(60000, 200000)
    ))

cur.executemany("""
INSERT INTO employees (name, position, start_date, salary)
VALUES (%s, %s, %s, %s);
""", employees)
conn.commit()

In [ ]:

df = pd.read_sql("SELECT * FROM employees;", conn)
df.head()

## 2. Data Cleaning
Checking structure and missing values.

In [ ]:

df.info()
df.isnull().sum()
df.describe()

## 3. Feature Engineering
Extracting start year and years of service.

In [ ]:

df['start_year'] = pd.to_datetime(df['start_date']).dt.year
df['years_of_service'] = 2025 - df['start_year']
df.head()

## 4. Scaling
Applying StandardScaler to salary.

In [ ]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['salary_scaled'] = scaler.fit_transform(df[['salary']])

## 5. Visualization 1
Average Salary by Position and Start Year.

In [ ]:

import matplotlib.pyplot as plt
grouped = df.groupby(['position', 'start_year'])['salary'].mean().unstack()
grouped.plot(kind='bar', figsize=(14,6))
plt.title("Average Salary by Position and Start Year")
plt.tight_layout()
plt.show()

## 6. Advanced Visualization
Creating departments and joining tables.

In [ ]:

cur.execute("""
CREATE TABLE IF NOT EXISTS departments (
    department_id SERIAL PRIMARY KEY,
    department_name VARCHAR(50),
    location VARCHAR(50)
);
""")
conn.commit()

In [ ]:

# --- Populate departments: 50 clean rows + 20% dirty rows (10) = 60 total ---

# Start fresh (optional)
cur.execute("TRUNCATE TABLE departments RESTART IDENTITY CASCADE;")
conn.commit()

base_locations = ["Toronto", "Vancouver", "Montreal", "Calgary", "Ottawa", "Edmonton", "Winnipeg", "Halifax"]
dept_rows = []

# 50 clean departments
for i in range(1, 51):
    dept_name = f"Department_{i:02d}"
    location = random.choice(base_locations)
    dept_rows.append((dept_name, location))

# 10 dirty departments (20% of 50)
dirty_depts = [
    (None, "Toronto"),                    # missing name
    ("   ", "Vancouver"),                 # blank name
    ("Department_01", "Montreal"),        # duplicate name
    ("Department_02", None),              # missing location
    ("Department_03", "   "),             # blank location
    ("Dept_üí•_04", "Calgary"),            # weird chars
    ("Department_51", "12345"),           # non-location
    ("Department_52", "Toronto "),        # trailing space
    ("department_53", "toronto"),         # inconsistent casing
    ("Department_54", "N/A")              # placeholder value
]
dept_rows.extend(dirty_depts)

cur.executemany(
    "INSERT INTO departments (department_name, location) VALUES (%s, %s);",
    dept_rows
)
conn.commit()

print("‚úÖ Inserted departments:", len(dept_rows))

In [ ]:

# --- Add department_id to employees and assign departments (1..50) ---
cur.execute("ALTER TABLE employees ADD COLUMN IF NOT EXISTS department_id INTEGER;")

# Assign ONLY valid clean departments 1..50 to the existing employees
cur.execute("UPDATE employees SET department_id = floor(random() * 50 + 1) WHERE department_id IS NULL;")
conn.commit()

# --- Add 20% dirty employees (10) on top of the existing 50 = 60 total ---
# NOTE: employee_id is SERIAL PK, so we keep PK valid and make other columns dirty.

dirty_positions = ["", None, "Data Scientist", "???", "Software Engineer"]
dirty_employees = []
for _ in range(10):
    dirty_employees.append((
        random.choice([None, "   ", fake.name(), fake.name()]),     # name dirty
        random.choice(dirty_positions),                             # position dirty
        random.choice([None, fake.date_between(start_date='-5y', end_date='today'),
                       fake.date_between(start_date='today', end_date='+2y')]),  # start_date null/future
        random.choice([None, -5000, 0, 10_000_000, random.randint(30000, 150000)]),  # salary null/negative/outlier
        random.choice([None, 1, 2, 3, 4, 999, random.randint(1, 50)])  # dept null/invalid (999)
    ))

cur.executemany(
    "INSERT INTO employees (name, position, start_date, salary, department_id) VALUES (%s, %s, %s, %s, %s);",
    dirty_employees
)
conn.commit()

print("‚úÖ Added dirty employees:", len(dirty_employees))

In [ ]:

query = """
SELECT e.*, d.department_name
FROM employees e
JOIN departments d
ON e.department_id = d.department_id;
"""
df_joined = pd.read_sql(query, conn)
df_joined.head()

## 7. Project Table (with FKs) + Dirty Data
We create a `projects` table where `project_id` is the primary key and `employee_id`, `department_id` are foreign keys.
We insert **50 clean** projects + **10 dirty** projects (20%).

In [ ]:

cur.execute("""
CREATE TABLE IF NOT EXISTS projects (
    project_id SERIAL PRIMARY KEY,
    project_name VARCHAR(100),
    project_description TEXT,
    start_date DATE,
    end_date DATE,
    budget INTEGER,
    employee_id INTEGER REFERENCES employees(employee_id),
    department_id INTEGER REFERENCES departments(department_id)
);
""")
conn.commit()

# Start fresh (optional)
cur.execute("TRUNCATE TABLE projects RESTART IDENTITY CASCADE;")
conn.commit()

print("‚úÖ projects table ready")

In [ ]:

# --- Insert 50 clean projects ---
clean_projects = []
for i in range(1, 51):
    p_name = f"Project_{i:02d}"
    p_desc = fake.sentence(nb_words=12)
    s_date = fake.date_between(start_date='-2y', end_date='-30d')
    e_date = fake.date_between(start_date='-29d', end_date='+180d')
    if e_date < s_date:
        s_date, e_date = e_date, s_date
    budget = random.randint(50_000, 2_000_000)

    # Use valid FKs from clean ranges
    employee_id = random.randint(1, 50)      # first 50 are "clean" employees
    department_id = random.randint(1, 50)    # first 50 are "clean" departments

    clean_projects.append((p_name, p_desc, s_date, e_date, budget, employee_id, department_id))

# --- Insert 10 dirty projects (20% of 50) ---
dirty_projects = [
    (None, fake.sentence(), None, None, None, random.randint(1, 60), random.randint(1, 60)),    # missing values
    ("   ", "", fake.date_between('-1y','today'), fake.date_between('-1y','today'), -1000, random.randint(1, 60), random.randint(1, 60)),  # blank + negative budget
    ("Project_01", fake.text(max_nb_chars=50), fake.date_between('-1y','today'), fake.date_between('-2y','-1y'), 50000, random.randint(1, 60), random.randint(1, 60)),  # end before start
    ("Proj_üí•_X", None, fake.date_between('-6mo','today'), fake.date_between('today','+6mo'), 999999999, random.randint(1, 60), random.randint(1, 60)),  # outlier budget
    ("Project_51", fake.sentence(), fake.date_between('-1y','today'), fake.date_between('today','+1y'), 0, None, random.randint(1, 60)),   # employee_id null
    ("Project_52", fake.sentence(), fake.date_between('-1y','today'), fake.date_between('today','+1y'), 100000, random.randint(1, 60), None), # department_id null
    ("Project_53", fake.sentence(), fake.date_between('-1y','today'), fake.date_between('today','+1y'), 100000, 60, random.randint(51, 60)), # uses dirty employee/dept but valid FK
    ("Project_54", fake.sentence(), fake.date_between('-1y','today'), fake.date_between('today','+1y'), 100000, random.randint(51, 60), 60), # uses dirty dept but valid FK
    ("Project_55", fake.sentence(), fake.date_between('-1y','today'), fake.date_between('today','+1y'), None, random.randint(1, 60), random.randint(1, 60)), # missing budget
    ("Project_56", fake.sentence(), fake.date_between('-1y','today'), fake.date_between('today','+1y'), -999999, random.randint(1, 60), random.randint(1, 60)), # negative budget
]

# Insert clean first
cur.executemany(
    "INSERT INTO projects (project_name, project_description, start_date, end_date, budget, employee_id, department_id) VALUES (%s,%s,%s,%s,%s,%s,%s);",
    clean_projects
)
conn.commit()
print("‚úÖ Inserted clean projects:", len(clean_projects))

# Insert dirty rows, but some have invalid FKs -> catch and insert the ones that pass
inserted_dirty = 0
for row in dirty_projects:
    try:
        cur.execute(
            "INSERT INTO projects (project_name, project_description, start_date, end_date, budget, employee_id, department_id) VALUES (%s,%s,%s,%s,%s,%s,%s);",
            row
        )
        conn.commit()
        inserted_dirty += 1
    except Exception as e:
        conn.rollback()
        print("‚ö†Ô∏è Dirty project insert failed (expected for FK violation):", row[0], "| Error:", str(e)[:120], "...")
print("‚úÖ Inserted dirty projects (that passed constraints):", inserted_dirty)

## 8. EDA on Dirty Data (Employees, Departments, Projects)
We pull the three tables into pandas and quickly inspect missing values, duplicates, outliers, and logical issues (like `end_date < start_date`).

In [ ]:

import pandas as pd
import numpy as np

df_emp = pd.read_sql("SELECT * FROM employees;", conn)
df_dept = pd.read_sql("SELECT * FROM departments;", conn)
df_proj = pd.read_sql("SELECT * FROM projects;", conn)

display(df_emp.head())
display(df_dept.head())
display(df_proj.head())

print("Shapes:")
print("employees:", df_emp.shape)
print("departments:", df_dept.shape)
print("projects:", df_proj.shape)

def eda_quick(df, name):
    print("\n" + "="*60)
    print(name)
    print("="*60)
    print(df.info())
    print("\nMissing values:")
    print(df.isna().sum().sort_values(ascending=False).head(15))
    print("\nFull-row duplicates:", df.duplicated().sum())
    print("\nDescribe (numeric):")
    display(df.describe(include=[np.number]).T)

eda_quick(df_emp, "EMPLOYEES")
eda_quick(df_dept, "DEPARTMENTS")
eda_quick(df_proj, "PROJECTS")

# Specific "dirty" checks
print("\nEmployees with invalid department_id (not in departments):")
invalid_emp_dept = df_emp.loc[~df_emp['department_id'].isin(df_dept['department_id']) & df_emp['department_id'].notna(), ['employee_id','name','department_id']]
display(invalid_emp_dept.head(20))

print("\nProjects with negative/zero budget:")
display(df_proj.loc[df_proj['budget'].fillna(0) <= 0, ['project_id','project_name','budget']].head(20))

print("\nProjects where end_date < start_date:")
bad_dates = df_proj.dropna(subset=['start_date','end_date']).loc[df_proj['end_date'] < df_proj['start_date']]
display(bad_dates[['project_id','project_name','start_date','end_date']].head(20))

## 9. Merge the 3 Tables (Show Relationships)
We merge:
1) `employees` ‚Üî `departments` using `department_id`
2) `projects` ‚Üî `employees` using `employee_id`
3) `projects` ‚Üî `departments` using `department_id`

This demonstrates the PK/FK connections.

In [ ]:

# employees + departments
df_emp_dept = df_emp.merge(df_dept, on='department_id', how='left', suffixes=('', '_dept'))

# projects + employees
df_proj_emp = df_proj.merge(df_emp, on='employee_id', how='left', suffixes=('', '_emp'))

# full merge: projects + employees + departments
df_all = df_proj_emp.merge(df_dept, on='department_id', how='left', suffixes=('', '_dept'))

print("Merged shape:", df_all.shape)
display(df_all.head(10))

# Simple "connection" checks
print("\nProjects missing employee match:", df_all['name'].isna().sum())
print("Projects missing department match:", df_all['department_name'].isna().sum())

# Example aggregation: avg budget by department (ignoring missing budgets)
budget_by_dept = df_all.groupby('department_name', dropna=False)['budget'].mean().sort_values(ascending=False)
display(budget_by_dept.head(15))

In [ ]:

import seaborn as sns
pivot = df_joined.pivot_table(values='salary', index='department_name', columns='position', aggfunc='mean')
plt.figure(figsize=(14,6))
sns.heatmap(pivot, annot=True, fmt=".0f", cmap="coolwarm")
plt.title("Average Salary by Department and Position")
plt.show()

## 7. Conclusions
This notebook demonstrates a complete data engineering and EDA workflow.